aside.main-sidebar.sidebar-dark-primary.elevation-4
    // Brand Logo
    a.brand-link(href='/')
        img.brand-image.img-circle.elevation-3(src='/images/logo.png' alt='AdminLTE Logo' style='opacity: .8')
        |       
        span.brand-text.font-weight-light HUMMER
    // Sidebar
    .sidebar
        // Sidebar user panel (optional)
        .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
                .info
                    a.d-block(href='/') #{session.name}
        // SidebarSearch Form
        .form-inline
            .input-group(data-widget='sidebar-search')
                input.form-control.form-control-sidebar(type='search' placeholder='Search' aria-label='Search')
                |           
                .input-group-append
                    button.btn.btn-sidebar
                        i.fas.fa-search.fa-fw
        // Sidebar Menu
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
                li.nav-item.menu-open
                    if title == "Home"
                        a.nav-link.active(href='/home')
                            i.nav-icon.fas.fa-home
                            p Home
                    else
                        a.nav-link(href='/home')
                            i.nav-icon.fas.fa-home
                            p Home 
                li.nav-item.menu-open
                    if title == "Gate Pass"
                        a.nav-link.active(href='/gate_pass')
                            i.nav-icon.fas.fa-id-badge
                            p Gate Pass
                    else
                        a.nav-link(href='/gate_pass')
                            i.nav-icon.fas.fa-id-badge
                            p Gate Pass
                li.nav-item    
                    if title == "Cash Voucher"
                        a.nav-link.active(href='/cash_voucher')
                            i.nav-icon.fas.fa-file-contract
                            p Cash Voucher
                    else
                        a.nav-link(href='/cash_voucher')
                            i.nav-icon.fas.fa-file-contract
                            p Cash Voucher
                li.nav-item    
                    if title == "Advance Cash Voucher"
                        a.nav-link.active(href='/advance_cash_voucher')
                            i.nav-icon.fas.fa-file-contract
                            p Advance Cash Voucher
                    else
                        a.nav-link(href='/advance_cash_voucher')
                            i.nav-icon.fas.fa-file-contract
                            p Advance Cash Voucher
                li.nav-item    
                    if title == "Ledger"
                        a.nav-link.active(href='/ledger/general')
                            i.nav-icon.fas.fa-file
                            p Ledger
                    else
                        a.nav-link(href='/ledger/general')
                            i.nav-icon.fas.fa-file
                            p Ledger
                li.nav-item
                    if title == "Reports"
                        a.nav-link.active.ml-2(href='#')
                            i.fa.fa-file.fa-lg &nbsp;
                            p Reports
                                i.fas.fa-angle-left.right
                        ul.nav.nav-treeview
                            li.nav-item.ml-2
                                a.nav-link(href='/reports')
                                    i.fa.fa-list-alt &nbsp;
                                    p Reports
                    else
                        a.nav-link.ml-2(href='#')
                            i.fa.fa-file.fa-lg &nbsp;
                            p Reports
                                i.fas.fa-angle-left.right
                        ul.nav.nav-treeview
                            li.nav-item.ml-2
                                a.nav-link(href='/reports')
                                    i.fa.fa-list-alt &nbsp;
                                    p Reports