include header1
include aside
.content-wrapper
    section.content
        .container-fluid
            include sub-header
            //search
            .col-md-12
                .card.card-success.card-outline
                    .card-header
                        h3.card-title Search
                    .card-body.p-2.mt-2
                         .card-tools
                            #tab1
                                .row.form-group
                                    .col-md-10
                                        .form-group.input-group-md
                                            input#searchId.form-control(type = "number", placeholder="Enter Cash Voucher #..." autofocus)
                                        #searchId_error(style="color:red")
                                    .col-md-2
                                        .form-group 
                                            button#btnSearch.btn.btn-success(onclick="searchGatePass()") Search
            
            //cash voucher form
            .col-md-12
                .card.card-primary.card-outline
                    .card-header
                        h3.card-title Cash Voucher Form
                    .card-body.p-2.mt-2
                        form.card-tools
                            .row.form-group
                                .col-md-4
                                    .form-group.input-group-md
                                            label Cas Voucher Number
                                            input#cash_voucher_number.form-control(type = "text", value='#{cv_number}', disabled='true' required)
                                    #cash_voucher_number_error(style="color:red")
                                .col-md-4
                                    .form-group.input-group-md
                                        label Date
                                        input#cash_voucher_date.form-control(type = "date" required)
                                    #cash_voucher_date_error(style="color:red")
                                .col-md-4 
                                    .form-group.input-group-md
                                        label Type
                                        select#cash_voucher_type.form-control(required)
                                            option(value="Pay") Pay
                                            option(value="Receive") Receive
                                    #cash_voucher_type_error(style="color:red")
                            .row.form-group
                                .col-md-4
                                    .form-group.input-group-md
                                        label Name
                                        input#cash_voucher_party_id.form-control(type = "text", placeholder='Enter Name' autocomplete="off" required)
                                        input#cv_party_id.form-control(type="hidden")
                                    #cash_voucher_party_id_error(style="color:red")
                                .col-md-4
                                    .form-group.input-group-md
                                        label Signature
                                        input#cash_voucher_signature.form-control(type = "text", placeholder='Enter Signature' required)
                                    #cash_voucher_signature_error(style="color:red")
                                .col-md-4
                                    .form-group.input-group-md
                                        label Amount
                                        input#cash_voucher_amount.form-control(type = "text", placeholder='Enter Amount' required)
                                    #cash_voucher_amount_error(style="color:red")
                            .row.form-group
                                .col-md-12
                                    label Details
                                    textarea#cash_voucher_details.form-control(placeholder="Enter Details Here...", rows="5" required)
                            .row.form-group 
                                .col-md-3 
                                    button#btn2.btn.btn-success(type="submit") Submit
include footer
script(src='/js/cash_voucher.js')
script.
    function searchGatePass(){
        gp_number = document.getElementById("searchId").value
        if(gp_number == ""){
            document.getElementById("searchId_error").innerHTML = "Enter Cash Vocuher Number"
        } else {
            document.getElementById("searchId_error").innerHTML = ""
            window.location.replace("/cash_voucher/view-cash-voucher/"+gp_number)
        }
    }