.row.mb-2
    .col-sm-6
        h2 #{title}
    .col-sm-6
        ol.breadcrumb.float-sm-right
            li.breadcrumb-item
                a #{title}
            li.breadcrumb-item.active #{subtitle}