body {
    background-color: #f00;
}

.center {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    width: 50%;
    height: auto;
    border: 3px solid #000000;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
}